<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Articulos
                    <!--Al boton Nuevo le damos un evento click
                    y vamos a pasar la accion abrirModal
                    y como estamos registrando solo le paso
                    el modelo y la accion mas no data -->
                    <button type="button" @click="abrirModal('articles','registrar')" class="btn btn-secondary">
                        <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <!--Con v-model indicamos el criterio-->
                                <select class="form-control col-md-3" v-model="criterio" >
                                    <option value="nombre">Nombre</option>
                                    <option value="descripcion">Descripción</option>
                                </select>
                                <!--En el input le pasamos la variable buscar vacio-->
                                <input type="text" v-model="buscar" @keyup.enter="listarArticles(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                <button type="submit" @click="listarArticles(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Precio de Venta</th>
                            <th>Stock</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="articles in arrayArticle" :key="articles.id">
                            <td>
                                <!--Al boton actualizar le damos un evento click
                                y vamos a pasar la accion abrirModal
                                y como estamos actulizando  le tienes que pasar modelo , la accion y un objeto (una fila de datos)-->
                                <button type="button" @click="abrirModal('articles','actualizar',articles)" class="btn btn-warning btn-sm">
                                    <i class="icon-pencil"></i>
                                </button>
                                <!--Si la condicion es true o 1   -->
                                <template v-if="articles.condicion">
                                    <button type="button" class="btn btn-danger btn-sm"  @click="desactivarArticles(articles.id)">
                                        <i class="icon-trash"></i>
                                    </button>
                                </template>
                                <!--Si la condicion es falsa osea 0  -->
                                <template v-else>
                                    <button type="button" class="btn btn-primary btn-sm" @click="activarArticles(articles.id)">
                                        <i class="icon-check"></i>
                                    </button>
                                </template>

                            </td>
                            <td v-text="articles.codigo"></td>
                            <td v-text="articles.nombre"></td>
                            <td v-text="articles.nombre_category"></td>
                            <td v-text="articles.precio_venta"></td>
                            <td v-text="articles.stock"></td>
                            <td v-text="articles.descripcion"></td>
                            <td>
                                <div v-if="articles.condicion">
                                    <span class="badge badge-success">Activo</span>
                                </div>
                                <div v-else>
                                    <span class="badge badge-danger">Inactivo</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="pagination.current_page > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(pagination.current_page - 1,buscar,criterio)" >Ant</a>
                            </li>
                            <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(page,buscar,criterio)" v-text="page"></a>
                            </li>
                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                <a class="page-link" href="#"  @click.prevent="cambiarpagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>
        <!--Inicio del modal agregar/actualizar-->
        <!--Si la variable modal es 1 se le asigna la clase mostrar-->
        <!--Por defecto es 0 la variable modal-->
        <div class="modal fade"  tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--Aqui vemos el titulo del modal que se va a pasar -->
                        <h4 class="modal-title" v-text="tituloModal"></h4>
                        <!--Aqui tambien cierro el modalo con el modelo que le paso-->
                        <button type="button" class="close" @click="cerrarModal()"  aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Categoria</label>
                                <div class="col-md-9">
                                    <!--Luego elijo el modelo v-model id_category para inicializarlo en 0-->
                                    <select  class="form-control" v-model="id_category">
                                        <option value="0" disabled>Seleccione</option>
                                        <!-- aqui tengo que recorrerlo con v-for dentro de ese arrayCategory que lo
                                        cree abajo iniciandole en cero le indico cual es mi key
                                        su value y dentro de esa caja de texto le colocamos el valor -->
                                        <option v-for="categories in arrayCategory" :key="categories.id" :value="categories.id" v-text="categories.nombre"></option>

                                    </select>
                                </div>
                            </div>
                            <!--Aqui le coloco el modelo a todos los campos-->
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Codigo</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="codigo" class="form-control" placeholder="Codigo de Barra">
                                    <!--Ahora aqui ponemos nuestro codifo de barra
                                   https://github.com/lindell/vue-barcode
                                    ahi esta el link del enlace-->
                                    <barcode :value="codigo" :options="{format: 'EAN-13'}">
                                        Generando codifo de barras ...
                                    </barcode>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de Articulo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Precio de Venta</label>
                                <div class="col-md-9">
                                    <input type="number" v-model="precio_venta" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="email-input">Stock</label>
                                <div class="col-md-9">
                                    <input type="email" v-model="stock" class="form-control" placeholder="Ingrese Descripcion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                                <div class="col-md-9">
                                    <input type="email" v-model="descripcion" class="form-control" placeholder="Ingrese Descripcion">
                                </div>
                            </div>
                            <!--Muestra si el errorCategory esta en 1-->
                            <!--v-for = Muestra la linea de errores-->
                            <!--Aqui modifique errorArticle y errorMostrarMsgArticle -->
                            <div v-show="errorArticle" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-for="error in errorMostrarMsgArticle" :key="error" v-text="error"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--Para que cierre el modal-->
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <!--Aqui llamo a la accion para registrar y actualizar Articles-->
                        <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarArticles()">Guardar</button>
                        <button type="button" v-if="tipoAccion==2" class="btn btn-primary"  @click="actualizarArticles()">Actualizar</button>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
            <!-- Inicio del modal Eliminar -->
            <!--Elimine el modal eliminar de la plantilla-->
            <!-- Fin del modal Eliminar -->
        </div>
    </main>
</template>

<script>
/*   Para ello primero necesitas intsalar
   npm install vue-barcode*/
    import VueBarcode from 'vue-barcode';
    export default {
        data()
        {
            return {
                // Crear una variable para saber el id de la categoria y lo inicias en 0
                article_id : 0,
                id_category:  0,
                nombre_category: '',
                codigo: '',
                nombre: '',
                precio_venta: 0,
                stock: 0,
                descripcion : '',
                arrayArticle : [],
                // Para asignarle la clase mostrar o no
                // la ventana modal
                // lo iniciamo en 0 no vista
                modal : 0,
//                Para indicar el titulo del modal registtrar o actulizar
                tituloModal: '',
                // Esto sirve por ejemplo para que cuando se abra el model
                // si registras --> te aparece boton registrar
                // si actualiza --> te aparece boton actualizar
                tipoAccion: 0,
                // En un primer momento no tengo error y contiene ningun valor
                errorArticle:0,
                // En un primer momento no se va mostrar ningun valor
                errorMostrarMsgArticle: [],
                // Todos estos valores que vienes de PHP controlador categoria lo vamos a inicializar
                // todos a 0
                pagination:{
                    'total'        :0,
                    'current_page' :0,
                    'per_page'     :0,
                    'last_page'    :0,
                    'from'         :0,
                    'to'           :0,
                },
                offset : 3,
                // variable para indicarle el criterio de busqueda
                criterio: 'nombre',
                // vraible de buscar para realizar el filtro
                buscar: '',
                // Para visualizar todas las categorias en mi select y para eso
                arrayCategory: []
            }
        },
        // lo colamos aqui al barcode
        components: {
            'barcode': VueBarcode
        },
        computed:{
            // Pagina actual
            isActived: function () {
                return this.pagination.current_page;
            },
            // Numero de elementos de la pagina
            pagesNumber: function () {
                // si  es diferente al ultimo elemento de la pagina
                if (!this.pagination.to)
                {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                // si la pgina es 1 o 0 retorna siemore el valor de 1
                if (from < 1)
                {
                    from = 1
                }
                let to = from + (this.offset * 2 );
                if (to >= this.pagination.last_page){
                    to = this.pagination.last_page
                }
                let pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }

        },
        methods:{
            // Luego de agregar los variable en data pasamos como parametro
            // al buscar y a criterio
            listarArticles(page,buscar,criterio)
            {
                let me=this;
                // indico la url de la pagina luego pasamos el buscar y criterio
                let url = '/articles?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio;
                axios.get(url)
                    .then(function (response) {
//                        Devolver los valores del index
                        // del controlador
                        let respuesta = response.data;
                        me.arrayArticle = respuesta.articles.data;
                        me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // creo una funcion que va a hacer un get que va a llamar dentro de la ruta web
            // /categories/selectCategoria
            // y por esa data va a recorrer todas las categorias disponibles y
            // lo va colocar en ese array vacio que al princicipio
            // lo puse vacio para que aqui lo llene de datos
            selectCategory()
            {
                let me=this;
                // indico la url de la pagina luego pasamos el buscar y criterio
                let url = '/categories/selectCategoria';
                axios.get(url)
                    .then(function (response) {
//
                       // Devolver los valores del index
                        // del controlador
                        let respuesta = response.data;
                        me.arrayCategory = respuesta.categories;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            cambiarpagina(page,buscar,criterio){
                let me=this;
                // Actualiza la pagina actual
                me.pagination.current_page = page;
                // Envia la peticion para visualizar la data de esa pagina
                me.listarArticles(page,buscar,criterio);


            },

            registrarArticles()
            {
                // Para mandarle verificacion
                // si es que hay errores manda a la validacion

                if (this.validarArticle())
                {
                    return;
                }


                let me=this;
                axios.post('/articles', {
                    'id_category': this.id_category,
                    'codigo': this.codigo,
                    'nombre': this.nombre,
                    'stock': this.stock,
                    'precio_venta': this.precio_venta,
                    'descripcion': this.descripcion
                })
                    .then(function (response) {
                        me.cerrarModal();
                        // referenciamos valores a los 3 parametros
                        // 1 pagina
                        // filtro vacio
                        // columna nombre
                        me.listarArticles(1,'','nombre');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            actualizarArticles(){
                if (this.validarArticle())
                {
                    return;
                }


                let me=this;
                axios.put('/articles/update', {
                    'id_category': this.id_category,
                    'codigo': this.codigo,
                    'nombre': this.nombre,
                    'stock': this.stock,
                    'precio_venta': this.precio_venta,
                    'descripcion': this.descripcion,
                    // le paso el id para que selecciona cual actualizo
                    'id': this.article_id
                })
                    .then(function (response) {
                        me.cerrarModal();
                        me.listarArticles(1,'','nombre');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // Como ven arriba en el boton de eliminar
            // el metoodo que recibe desactivarCategories recibe (categories.id)
            // y por eso aca nosotros debemos de recibirlo para que apunte a su id
            desactivarArticles(id){
                swal({
                    title: 'Estas seguro de desactivar este articulo?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {

                        let me=this;
                        axios.put('/articles/desactivar', {
                            'id': id
                        })
                            .then(function (response) {
                                me.listarArticles(1,'','nombre');
                                swal(
                                    'Articulo Desactivado!',
                                    'El registro ha sido desactivado.',
                                    'success'
                                )
                            }).catch(function (error) {
                            console.log(error);
                        });

                    } else if (
                        // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                    ) {
//                       //  No muestre ningun mensaje cuando cancele
                    }
                })
            },
            activarArticles(id){
                swal({
                    title: 'Estas seguro de activar este articulo ',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {

                        let me=this;
                        axios.put('/articles/activar', {
                            'id': id
                        })
                            .then(function (response) {
                                me.listarArticles(1,'','nombre');
                                swal(
                                    'Articulo Activado!',
                                    'El registro ha sido activado con exito.',
                                    'success'
                                )
                            }).catch(function (error) {
                            console.log(error);
                        });

                    } else if (
                        // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                    ) {
//                       //  No muestre ningun mensaje cuando cancele
                    }
                })
            },
            validarArticle()
            {
                // Se va inicializar vacia estas dos variables
                this.errorArticle=0;
                this.errorMostrarMsgArticle=[];
                // Si el nombre esta vacia muestra el error insertando con push
                // La descripcion le puse null y no necesito validarlo
                if (this.id_category == 0) this.errorMostrarMsgArticle.push('Seleccione una categoria');
                if (!this.nombre) this.errorMostrarMsgArticle.push('El nombre del articulo no puede estar vacia');
                if (!this.stock) this.errorMostrarMsgArticle.push('El stock del articulo no puede estar vacia y debe ser numero');
                if (!this.precio_venta) this.errorMostrarMsgArticle.push('El precio de venta  del articulo no puede estar vacia y debe ser numero');
                if (!this.descripcion) this.errorMostrarMsgArticle.push('La descripcion   del articulo no puede estar vacia');
                // si es que hay errores la variable sera errorCategory = 1
                if (this.errorMostrarMsgArticle.length) this.errorArticle = 1;
                return this.errorArticle;

            },
            cerrarModal()
            {
                // para que oculte la venta modal
                this.modal = 0;
                this.tituloModal = '';
                this.id_category = 0;
                this.nombre_category = '';
                this.codigo = '';
                this.nombre = '';
                this.precio_venta = 0;
                this.stock = 0;
                this.descripcion = '';
                // Cda vez que se cierra el modal el error de la categoria inicia
                // en
                this.errorArticle= 0;
                // Cda vez que se cierra el modal no habra mensajes de error
                this.errorMostrarMsgArticle=[]

            },

            // este metodo recibe 3 parametros
            // el modelo , accion registar| actualizar , un fila de data (objeto)
            abrirModal(modelo,accion, data = [])
            {
                // evaluar parametro
                switch (modelo){
//                   // si el modelo es categories
                    case 'articles':
                    {
                        switch (accion)
                        {
                            case 'registrar':
                            {
                                // visualizar modal para que inicie asi
                                this.modal = 1;
                                this.tituloModal = 'Registrar Articulos';
                                this.id_category = 0;
                                this.nombre_category = '';
                                this.codigo = '';
                                this.nombre = '';
                                this.precio_venta = 0;
                                this.stock = 0;
                                this.descripcion = '';
                                this.tipoAccion = 1;
                                break;

                            }
                            case 'actualizar':
                            {
                                // visualizar modal
                                this.modal = 2;
                                this.tituloModal = 'Actualizar Articulos';
                                // Accion actualizar
                                this.tipoAccion = 2;
                                // Cargamos en el input del modal esto datos que viene de data

                                // aqui asociamos con el id para que me cargue con su id
                                this.article_id = data['id'];
                                this.id_category = data['id_category'];
                                //this.nombre_category = data['nombre'];
                                this.codigo =  data['codigo'];
                                this.nombre =  data['nombre'];
                                this.stock =  data['stock'];
                                this.precio_venta = data['precio_venta'];
                                this.descripcion =  data['descripcion'];
                                break;

                            }
                        }
                    }

                }
                this.selectCategory();
            }
        },
        mounted() {
            // refrencia al metodo buscar categoria
            // 1 pagina
            // buscar de la varibale data
            // criterio de la varibale  data
            this.listarArticles(1,this.buscar,this.criterio)
        }
    }
</script>
<style>
    .modal-content
    {
        width: 100%  !important;
        position: absolute !important;
    }
    .mostrar
    {
        display: list-item  !important;;
        opacity: 1 !important;
        position: absolute !important;
        background: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error
    {
        color: tomato !important;
        font-weight: bold;

    }
</style>
