<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Categorías
                    <!--Al boton Nuevo le damos un evento click
                    y vamos a pasar la accion abrirModal
                    y como estamos registrando solo le paso
                    el modelo y la accion mas no data -->
                    <button type="button" @click="abrirModal('categories','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <!--Con v-model indicamos el criterio-->
                                <select class="form-control col-md-3" v-model="criterio" >
                                    <option value="nombre">Nombre</option>
                                    <option value="descripcion">Descripción</option>
                                </select>
                                <!--En el input le pasamos la variable buscar vacio-->
                                <input type="text" v-model="buscar" @keyup.enter="listarCategories(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                <button type="submit" @click="listarCategories(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="categories in arrayCategory" :key="categories.id">
                            <td>
                                <!--Al boton actualizar le damos un evento click
                                y vamos a pasar la accion abrirModal
                                y como estamos actulizando  le tienes que pasar modelo , la accion y un objeto (una fila de datos)-->
                                <button type="button" @click="abrirModal('categories','actualizar',categories)" class="btn btn-warning btn-sm">
                                    <i class="icon-pencil"></i>
                                </button>
                                <!--Si la condicion es true o 1   -->
                                <template v-if="categories.condicion">
                                    <button type="button" class="btn btn-danger btn-sm"  @click="desactivarCategories(categories.id)">
                                        <i class="icon-trash"></i>
                                    </button>
                                </template>
                                <!--Si la condicion es falsa osea 0  -->
                                <template v-else>
                                    <button type="button" class="btn btn-primary btn-sm" @click="activarCategories(categories.id)">
                                        <i class="icon-check"></i>
                                    </button>
                                </template>

                            </td>
                            <td v-text="categories.nombre"></td>
                            <td v-text="categories.descripcion"></td>
                            <td>
                                <div v-if="categories.condicion">
                                    <span class="badge badge-success">Activo</span>
                                </div>
                                <div v-else>
                                    <span class="badge badge-danger">Inactivo</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="pagination.current_page > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(pagination.current_page - 1,buscar,criterio)" >Ant</a>
                            </li>
                            <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(page,buscar,criterio)" v-text="page"></a>
                            </li>
                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                <a class="page-link" href="#"  @click.prevent="cambiarpagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>
        <!--Inicio del modal agregar/actualizar-->
        <!--Si la variable modal es 1 se le asigna la clase mostrar-->
        <!--Por defecto es 0 la variable modal-->
        <div class="modal fade"  tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--Aqui vemos el titulo del modal que se va a pasar -->
                        <h4 class="modal-title" v-text="tituloModal"></h4>
                        <!--Aqui tambien cierro el modalo con el modelo que le paso-->
                        <button type="button" class="close" @click="cerrarModal()"  aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de categoría">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                                <div class="col-md-9">
                                    <input type="email" v-model="descripcion" class="form-control" placeholder="Ingrese Descripcion">
                                </div>
                            </div>
                            <!--Muestra si el errorCategory esta en 1-->
                            <!--v-for = Muestra la linea de errores-->
                            <div v-show="errorCategory" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsgCategory" :key="error" v-text="error"></div>
                                    </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--Para que cierre el modal-->
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <!--Aqui llamo a la accion-->
                        <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarCategories()">Guardar</button>
                        <button type="button" v-if="tipoAccion==2" class="btn btn-primary"  @click="actualizarCategories()">Actualizar</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        <!-- Inicio del modal Eliminar -->
                <!--Elimine el modal eliminar de la plantilla-->
        <!-- Fin del modal Eliminar -->
        </div>
    </main>
</template>

<script>
    export default {
        data()
        {
            return {
                // Crear una variable para saber el id de la categoria y lo inicias en 0
                category_id : 0,
                'nombre': '',
                'descripcion': '',
                arrayCategory : [],
                // Para asignarle la clase mostrar o no
                // la ventana modal
                // lo iniciamo en 0 no vista
                modal : 0,
//                Para indicar el titulo del modal registtrar o actulizar
                tituloModal: '',
                // Esto sirve por ejemplo para que cuando se abra el model
                // si registras --> te aparece boton registrar
                // si actualiza --> te aparece boton actualizar
                tipoAccion: 0,
                // En un primer momento no tengo error y contiene ningun valor
                errorCategory:0,
                // En un primer momento no se va mostrar ningun valor
                errorMostrarMsgCategory: [],
                // Todos estos valores que vienes de PHP controlador categoria lo vamos a inicializar
                // todos a 0
                pagination:{
                        'total'        :0,
                        'current_page' :0,
                        'per_page'     :0,
                        'last_page'    :0,
                        'from'         :0,
                        'to'           :0,
                },
                offset : 3,
                // variable para indicarle el criterio de busqueda
                criterio: 'nombre',
                // vraible de buscar para realizar el filtro
                buscar: ''
            }
        },
        computed:{
            // Pagina actual
            isActived: function () {
                return this.pagination.current_page;
            },
            // Numero de elementos de la pagina
            pagesNumber: function () {
                // si  es diferente al ultimo elemento de la pagina
                if (!this.pagination.to)
                {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                // si la pgina es 1 o 0 retorna siemore el valor de 1
                if (from < 1)
                {
                    from = 1
                }
                let to = from + (this.offset * 2 );
                if (to >= this.pagination.last_page){
                    to = this.pagination.last_page
                }
                let pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
            
        },
        methods:{
            // Luego de agregar los variable en data pasamos como parametro
            // al buscar y a criterio
            listarCategories(page,buscar,criterio)
            {
                let me=this;
                // indico la url de la pagina luego pasamos el buscar y criterio
                let url = '/categories?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio;
                axios.get(url)
                    .then(function (response) {
//                        Devolver los valores del index
                        // del controlador
                        let respuesta = response.data;
                        me.arrayCategory = respuesta.categories.data;
                        me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cambiarpagina(page,buscar,criterio){
                let me=this;
                // Actualiza la pagina actual
                me.pagination.current_page = page;
                // Envia la peticion para visualizar la data de esa pagina
                me.listarCategories(page,buscar,criterio);


            },

            registrarCategories()
            {
                // Para mandarle verificacion
                // si es que hay errores manda a la validacion

                if (this.validarCategory())
                {
                    return;
                }


                let me=this;
                axios.post('/categories', {
                    'nombre': this.nombre,
                    'descripcion': this.descripcion,
                })
                    .then(function (response) {
                        me.cerrarModal();
                        // referenciamos valores a los 3 parametros
                        // 1 pagina
                        // filtro vacio
                        // columna nombre
                        me.listarCategories(1,'','nombre');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            actualizarCategories(){
                if (this.validarCategory())
                {
                    return;
                }


                let me=this;
                axios.put('/categories/update', {
                    'id': this.category_id,
                    'nombre': this.nombre,
                    'descripcion': this.descripcion,
                })
                    .then(function (response) {
                        me.cerrarModal();
                        me.listarCategories(1,'','nombre');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // Como ven arriba en el boton de eliminar
            // el metoodo que recibe desactivarCategories recibe (categories.id)
            // y por eso aca nosotros debemos de recibirlo para que apunte a su id
            desactivarCategories(id){
                swal({
                    title: 'Estas seguro de desactivar esta Categoria?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {

                        let me=this;
                        axios.put('/categories/desactivar', {
                            'id': id
                        })
                            .then(function (response) {
                                me.listarCategories(1,'','nombre');
                                swal(
                                    'Categoria Desactivado!',
                                    'El registro ha sido desactivado.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });

                    } else if (
                        // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                    ) {
//                       //  No muestre ningun mensaje cuando cancele
                    }
                })
            },
            activarCategories(id){
                swal({
                    title: 'Estas seguro de activar esta Categoria?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {

                        let me=this;
                        axios.put('/categories/activar', {
                            'id': id
                        })
                            .then(function (response) {
                                me.listarCategories(1,'','nombre');
                                swal(
                                    'Categoria Activado!',
                                    'El registro ha sido activado con exito.',
                                    'success'
                                )
                            }).catch(function (error) {
                            console.log(error);
                        });

                    } else if (
                        // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                    ) {
//                       //  No muestre ningun mensaje cuando cancele
                    }
                })
            },
            validarCategory()
            {
                // Se va inicializar vacia estas dos variables
                this.errorCategory=0;
                this.errorMostrarMsgCategory=[];
                // Si el nombre esta vaca muestra el error insertando con push
                // La descripcion le puse null y no necesito validarlo
                if (!this.nombre) this.errorMostrarMsgCategory.push('El nombre de la categoria no puede estar vacia');
                // si es que hay errores la variable sera errorCategory = 1
                if (this.errorMostrarMsgCategory.length) this.errorCategory = 1;
                return this.errorCategory;

            },
            cerrarModal()
            {
                // para que oculte la venta modal
                this.modal = 0;
                this.tituloModal = '';
                this.nombre = '';
                this.descripcion = '';
                // Cda vez que se cierra el modal el error de la categoria inicia
                // en
                this.errorCategory= 0;
                // Cda vez que se cierra el modal no habra mensajes de error
                this.errorMostrarMsgCategory=[]

            },

            // este metodo recibe 3 parametros
            // el modelo , accion registar| actualizar , un fila de data (objeto)
            abrirModal(modelo,accion, data = [])
            {
                // evaluar parametro
                switch (modelo){
//                   // si el modelo es categories
                    case 'categories':
                    {
                        switch (accion)
                        {
                            case 'registrar':
                            {
                                // visualizar modal
                                this.modal = 1;
                                this.tituloModal = 'Registrar Categoria';
                                this.nombre = '';
                                this.descripcion = '';
                                this.tipoAccion = 1;
                                break;

                            }
                            case 'actualizar':
                            {
                                // visualizar modal
                                this.modal = 2;
                                this.tituloModal = 'Actualizar Categoria';
                                // Accion actualizar
                                this.tipoAccion = 2;
                                // Cargamos en el input del modal esto datos que viene de data

                               // aqui asociamos con el id para que me cargue con su id
                                this.category_id = data['id'];
                                this.nombre = data['nombre'];
                                this.descripcion = data['descripcion'];
                                break;

                            }
                        }
                    }

                }
            }
        },
        mounted() {
            // refrencia al metodo buscar categoria
            // 1 pagina
            // buscar de la varibale data
            // criterio de la varibale  data
           this.listarCategories(1,this.buscar,this.criterio)
        }
    }
</script>
<style>
    .modal-content
    {
        width: 100%  !important;
        position: absolute !important;
    }
    .mostrar
    {
        display: list-item  !important;;
        opacity: 1 !important;
        position: absolute !important;
        background: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error
    {
        color: tomato !important;
        font-weight: bold;

    }
</style>
