<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Ingresos
                    <!--Al boton Nuevo le damos un evento click
                    y vamos a pasar la accion abrirModal
                    y como estamos registrando solo le paso
                    el modelo y la accion mas no data -->
                    <button type="button" @click="mostrarDetalle()" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
               <!--Si el listado es true (1) muestra-->
                <template v-if="listado">
                    <!--Listado Ingreso-->
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <!--Con v-model indicamos el criterio de busqueda-->
                                    <select class="form-control col-md-3" v-model="criterio" >
                                        <option value="tipo_comprobante">Tipo de Comprobante</option>
                                        <option value="num_comprobante">Numero de Comprobante</option>
                                        <option value="fecha_hora">Fecha - Hora </option>
                                    </select>
                                    <!--En el input le pasamos la variable buscar vacio-->
                                    <input type="text" v-model="buscar" @keyup.enter="listarIngreso(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarIngreso(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Usuario</th>
                                    <th>Proveedor</th>
                                    <th>Tipo de Comprobante</th>
                                    <th>Serie del Comprobante</th>
                                    <th>Numero del comprobante</th>
                                    <th>Fecha Hora</th>
                                    <th>Total</th>
                                    <th>Impuesto</th>
                                    <th>Estado</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="ingreso in arrayIngreso" :key="ingreso.id">
                                    <td>
                                        <!--Al boton actualizar le damos un evento click
                                        y vamos a pasar la accion abrirModal
                                        y como estamos actulizando  le tienes que pasar modelo , la accion y un objeto (una fila de datos)-->
                                        <!--Le pasamos al abrirmodal(textoingreso,'funcion actualizar','objeti ingreso')-->
                                        <button type="button" @click="abrirModal('ingreso','actualizar',ingreso)" class="btn btn-success btn-sm">
                                            <i class="icon-eye"></i>
                                        </button>&nbsp;
                                        <!--Si la condicion es true o 1   -->
                                        <template v-if="ingreso.estado=='Registrado'">
                                            <button type="button" class="btn btn-danger btn-sm"  @click="desactivarIngreso(ingreso.id)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </template>



                                    </td>
                                    <td v-text="ingreso.usuario"></td>
                                    <td v-text="ingreso.nombre"></td>
                                    <td v-text="ingreso.tipo_comprobante"></td>
                                    <td v-text="ingreso.serie_comprobante"></td>
                                    <td v-text="ingreso.num_comprobante"></td>
                                    <td v-text="ingreso.fecha_hora"></td>
                                    <td v-text="ingreso.total"></td>
                                    <td v-text="ingreso.impuesto"></td>
                                    <td v-text="ingreso.estado"></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarpagina(pagination.current_page - 1,buscar,criterio)" >Ant</a>
                                </li>
                                <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarpagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#"  @click.prevent="cambiarpagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Listado Ingreso FIN-->
                </template>
                <template v-else>
                    <!--Listado Ingreso Detalle-->
                    <div class="card-body">
                        <div class="form-group row border">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="">Proveedor(*)</label>
                                    <!--
                                        selectProveedor:
                                        label => mostrar en la opcione en la propiedad nombre
                                        arrayProveedor => llenar todos los proveedores en esta array
                                        getDatosProveedor => obtener datos del proveedor
                                    -->
                                    <v-select
                                            :on-search="selectProveedor"
                                            label="nombre"
                                            :options="arrayProveedor"
                                            placeholder="Buscar Proveedores..."
                                            :onChange="getDatosProveedor"
                                    >

                                    </v-select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="">Impuesto(*)</label>
                                <input type="text" class="form-control" v-model="impuesto">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tipo Comprobante(*)</label>
                                    <select class="form-control" v-model="tipo_comprobante">
                                        <option value="0">Seleccione</option>
                                        <option value="BOLETA">Boleta</option>
                                        <option value="FACTURA">Factura</option>
                                        <option value="TICKET">Ticket</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Serie Comprobante</label>
                                    <input type="text" class="form-control" v-model="serie_comprobante" placeholder="000x">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Número Comprobante(*)</label>
                                    <input type="text" class="form-control" v-model="num_comprobante" placeholder="000xx">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div v-show="errorIngreso" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjIngreso" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row border">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Artículo <span style="color:tomato;" v-show="idarticulo==0">(*Seleccione)</span></label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control" v-model="codigo" @keyup.enter="buscarArticulo()" placeholder="Ingrese artículo">
                                        <button @click="abrirModal()" class="btn btn-primary">...</button>
                                        <!--Agregamos un input de lectura con la directiva v-model con variable
                                        articulo-->
                                        <input type="text" readonly class="form-control" v-model="articulo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Precio <span style="color:tomato;" v-show="precio==0">(*Ingrese)</span></label>
                                    <input type="number" value="0" step="any" class="form-control" v-model="precio">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Cantidad <span style="color:tomato;" v-show="cantidad==0">(*Ingrese)</span></label>
                                    <input type="number" value="0" class="form-control" v-model="cantidad">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button @click="agregarDetalle()" class="btn btn-success form-control btnagregar"><i class="icon-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row border">
                            <div class="table-responsive col-md-12">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Opciones</th>
                                        <th>Artículo</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody v-if="arrayDetalle.length">
                                    <tr v-for="(detalle,index) in arrayDetalle" :key="detalle.id">
                                        <td>
                                            <button @click="eliminarDetalle(index)" type="button" class="btn btn-danger btn-sm">
                                                <i class="icon-close"></i>
                                            </button>
                                        </td>
                                        <!--Nombre del articulo -->
                                        <td v-text="detalle.articulo">

                                        </td>
                                        <td>
                                            <input v-model="detalle.precio" type="number" value="3" class="form-control">
                                        </td>
                                        <td>
                                            <input v-model="detalle.cantidad" type="number" value="2" class="form-control">
                                        </td>
                                        <td>
                                            {{ detalle.precio * detalle.cantidad}}
                                        </td>
                                    </tr>
                                    <tr style="background-color: #CEECF5;">
                                        <td colspan="4" align="right"><strong>Total Parcial:</strong></td>
                                        <td>$ {{totalParcial=(total-totalImpuesto).toFixed(2)}}</td>
                                    </tr>
                                    <tr style="background-color: #CEECF5;">
                                        <td colspan="4" align="right"><strong>Total Impuesto:</strong></td>
                                        <td>$ {{totalImpuesto=((total*impuesto)/(1+impuesto)).toFixed(2)}}</td>
                                    </tr>
                                    <tr style="background-color: #CEECF5;">
                                        <td colspan="4" align="right"><strong>Total Neto:</strong></td>
                                        <td>$  {{total=calcularTotal}}</td>
                                    </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td  colspan="5">No Hay Articulos</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button type="button" @click="ocultarDetalle()" class="btn btn-secondary">Cerrar</button>
                                <button type="button" class="btn btn-primary" @click="registrarIngreso()">Registrar Compra</button>
                            </div>
                        </div>
                    </div>
                    <!--Listado Ingreso Detalle FIN-->
                </template>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>
        <!--Inicio del modal agregar/actualizar-->
        <!--Si la variable modal es 1 se le asigna la clase mostrar-->
        <!--Por defecto es 0 la variable modal-->
        <div class="modal fade"  tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--Aqui vemos el titulo del modal que se va a pasar -->
                        <h4 class="modal-title" v-text="tituloModal"></h4>
                        <!--Aqui tambien cierro el modalo con el modelo que le paso-->
                        <button type="button" class="close" @click="cerrarModal()"  aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <!--Con v-model indicamos el criterio-->
                                    <select class="form-control col-md-3" v-model="criterioA" >
                                        <option value="nombre">Nombre</option>
                                        <option value="descripcion">Descripción</option>
                                        <option value="codigo">Codigo</option>
                                    </select>
                                    <!--En el input le pasamos la variable buscar vacio-->
                                    <!--listarArticles(le borre el 1 eso significa la primera paginacion)-->
                                    <input type="text" v-model="buscarA" @keyup.enter="listarArticles(buscarA,criterioA)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarArticles(buscarA,criterioA)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Categoria</th>
                                    <th>Precio de Venta</th>
                                    <th>Stock</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="articles in arrayArticulo" :key="articles.id">
                                    <td>
                                        <!--solo le paso un objeto -->
                                        <button type="button" @click="agregarDetalleModal(articles)" class="btn btn-success btn-sm">
                                            <i class="icon-check"></i>
                                        </button>


                                    </td>
                                    <td v-text="articles.codigo"></td>
                                    <td v-text="articles.nombre"></td>
                                    <td v-text="articles.nombre_categoria"></td>
                                    <td v-text="articles.precio_venta"></td>
                                    <td v-text="articles.stock"></td>
                                    <td>
                                        <div v-if="articles.condicion">
                                            <span class="badge badge-success">Activo</span>
                                        </div>
                                        <div v-else>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--Para que cierre el modal-->
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <!--Aqui llamo a la accion-->
                        <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarPersons()">Guardar</button>
                        <button type="button" v-if="tipoAccion==2" class="btn btn-primary"  @click="actualizarPersons()">Actualizar</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        <!-- Inicio del modal Eliminar -->
                <!--Elimine el modal eliminar de la plantilla-->
        <!-- Fin del modal Eliminar -->
        </div>
    </main>
</template>

<script>
    // https://sagalbot.github.io/vue-select/docs/Install.html Enlace

    // Aqui tienes que importarlo
    import vSelect from 'vue-select'
    export default {
        data()
        {
            return {
                // Crear una variable para saber el id de la categoria y lo inicias en 0
                'ingreso_id' : 0,
                'idproveedor': '',
                'nombre': '',
                'tipo_comprobante': 'BOLETA',
                'serie_comprobante': '',
                'num_comprobante': '',
                'impuesto': 0.18,
                'total':0.0,

                arrayIngreso : [],
                // Pra mostrar roles
                arrayDetalle : [],
                // Para guardar datos del proveedor
                arrayProveedor : [],
                // Para asignarle la clase mostrar o no
                // la ventana modal
                // lo iniciamo en 0 no vista
                modal : 0,
                // si es 1 se muestra si es 0 se oculta el listado de ingreso
                listado:1,
//                Para indicar el titulo del modal registtrar o actulizar
                tituloModal: '',
                // Esto sirve por ejemplo para que cuando se abra el model
                // si registras --> te aparece boton registrar
                // si actualiza --> te aparece boton actualizar
                tipoAccion: 0,
                // En un primer momento no tengo error y contiene ningun valor
                errorIngreso:0,
                // En un primer momento no se va mostrar ningun valor
                errorMostrarMsjIngreso: [],
                // Todos estos valores que vienes de PHP controlador categoria lo vamos a inicializar
                // todos a 0
                pagination:{
                        'total'        :0,
                        'current_page' :0,
                        'per_page'     :0,
                        'last_page'    :0,
                        'from'         :0,
                        'to'           :0,
                },
                offset : 3,
                // variable para indicarle el criterio de busqueda
                criterio: 'num_comprobante',
                // vraible de buscar para realizar el filtro
                buscar: '',
                // Variables para la transaccion
                arrayArticulo: [],
                codigo: '',
                articulo: '',
                // Variables de la tabla detalleingreso
                idarticulo: 0,
                precio: 0,
                cantidad:0,
                // Variables para calcular los totales
                impuesto: 0.18,
                total:0.0,
                totalImpuesto: 0.0,
                totalParcial: 0.0,

                // vraible de buscar para realizar el filtro de articulos dentro
                // de ingresos en un modal
                criterioA: 'nombre',
                buscarA: '',
            }
        },
        // Aqui tambien lo importamos el vselect
        components: {
            vSelect
        },

        // estara en computed para que se ejecute a la medida que vayamos trabajando en
        // el proyecto
        computed:{
            // Pagina actual
            isActived: function () {
                return this.pagination.current_page;
            },
            // Numero de elementos de la pagina
            pagesNumber: function () {
                // si  es diferente al ultimo elemento de la pagina
                if (!this.pagination.to)
                {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                // si la pgina es 1 o 0 retorna siemore el valor de 1
                if (from < 1)
                {
                    from = 1
                }
                let to = from + (this.offset * 2 );
                if (to >= this.pagination.last_page){
                    to = this.pagination.last_page
                }
                let pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
            // Recorrera todos los item del ingreso
            // Multplicaremos el indice de precio y cantidad
            calcularTotal: function(){
                var resultado=0.0;
                for(var i=0;i<this.arrayDetalle.length;i++){
                    resultado=resultado+(this.arrayDetalle[i].precio*this.arrayDetalle[i].cantidad)
                }
                // Voy a retornar el resultado y voy a ir acumulando en la variable
                // resultado
                return resultado;
            }
            
        },
        methods:{
            // Luego de agregar los variable en data pasamos como parametro
            // al buscar y a criterio
            listarIngreso(page,buscar,criterio)
            {
                let me=this;
                // indico la url de la pagina luego pasamos el buscar y criterio
                let url = '/ingreso?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio;
                axios.get(url)
                    .then(function (response) {
//                        Devolver los valores del index
                        // del controlador
                        let respuesta = response.data;
                        // $ingresos viene del controladorIngreso
                        // ya que asi se llamo la varibale que hizo la consulta
                        me.arrayIngreso = respuesta.ingresos.data;
                        me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
//            search : que envia el v-select
            // loading que esta en true
            selectProveedor(search,loading){
                let me=this;
                loading(true)
                // Ruta para el filtro y llamos a la ruta que esta apuntando al metodo selectProveedor
                //  search : que envia el v-select
                var url= '/proveedor/selectProveedor?filtro='+search;
                axios.get(url).then(function (response) {
                    let respuesta = response.data;
                    q: search
                    // aqui se le va asignar toditito  el filtro la cual se mostrara
                    // proveedores asi se llama la variable de retorno en el metodo selectProveedor
                    me.arrayProveedor=respuesta.proveedores;
                    // que ya no cargue
                    loading(false)
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // recibe el parametro que recibio el vueselect
            getDatosProveedor(val1){
                let me = this;
                me.loading = true;
                me.idproveedor = val1.id;
            },
            buscarArticulo(){
                let me=this;
                var url= '/articles/buscarArticulo?filtro=' + me.codigo;

                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    // articulos asi se llama la variable de retorno en el metodo buscarArticulo
                    me.arrayArticulo = respuesta.articulos;
                    // si encuentra articulos muestra el id y su nombre
                    if (me.arrayArticulo.length>0){
                        me.articulo=me.arrayArticulo[0]['nombre'];
                        me.idarticulo=me.arrayArticulo[0]['id'];
                    }
                    else{
                        me.articulo='No existe artículo';
                        me.idarticulo=0;
                    }
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cambiarpagina(page,buscar,criterio){
                let me=this;
                // Actualiza la pagina actual
                me.pagination.current_page = page;
                // Envia la peticion para visualizar la data de esa pagina
                me.listarIngreso(page,buscar,criterio);


            },
            // con este metodo hara que si el articulo ya se encuentra en el
            // detalle
            encuentra(id){
                // inicia un variable en cero
                var sw=0;
                for(var i=0;i<this.arrayDetalle.length;i++){
                    if(this.arrayDetalle[i].idarticulo==id){
                        // si coincide el valor es 1 o true
                        sw=true;
                    }
                }
                // retorna el valor de sw bien 0(false) o 1(true)
                return sw;
            },
            eliminarDetalle(index)
            {
                let me=this;
                // Elimino un solo objeto
                me.arrayDetalle.splice(index,1)

            },
            agregarDetalle(){
                let me=this;
                if(me.idarticulo==0 || me.cantidad==0 || me.precio==0){
                }
                else{
                    // Si encuentra el mismo id vota el error
                    if(me.encuentra(me.idarticulo)){
                        swal({
                            type: 'error',
                            title: 'Error...',
                            text: 'Ese artículo ya se encuentra agregado!',
                        })
                    }
                    // si es que idarticulo cantidad precio diferente de cero
                     //    y que no se repita lo agregara
                    else{
                        me.arrayDetalle.push({
                            idarticulo: me.idarticulo,
                            articulo: me.articulo,
                            cantidad: me.cantidad,
                            precio: me.precio
                        });
                        // luego de agregar limpia la caja de texto
                        me.codigo="";
                        me.idarticulo=0;
                        me.articulo="";
                        me.cantidad=0;
                        me.precio=0;
                    }

                }



            },
            // Va recibir el objeto
            // lo iniciamos en vacio
            agregarDetalleModal(data = [])
            {
                let me=this;
                if(me.encuentra(data['id'])){
                    swal({
                        type: 'error',
                        title: 'Error...',
                        text: 'Ese artículo ya se encuentra agregado!',
                    })
                }
                // si es que idarticulo cantidad precio diferente de cero
                //    y que no se repita lo agregara
                else{
                    me.arrayDetalle.push({
                        idarticulo: data['id'],
                        articulo: data['nombre'],
                        cantidad:1,
                        precio: 1,
                    });

                }
            },
            // Luego de agregar los variable en data pasamos como parametro
            // al buscar y a criterio
            listarArticles(buscar,criterio)
            {
                let me=this;
                // indico la url de la pagina luego pasamos el buscar y criterio
                let url = '/articles/listarArticulo?buscar=' + buscar + '&criterio=' + criterio;
                axios.get(url)
                    .then(function (response) {
//                        Devolver los valores del index
                        // del controlador
                        let respuesta = response.data;
                        me.arrayArticulo = respuesta.articulos.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            registrarIngreso()
            {
                // Para mandarle verificacion
                // si es que hay errores manda a la validacion

                if (this.validarIngreso())
                {
                    return;
                }


                let me=this;
                axios.post('/ingreso', {
                    'idproveedor': this.idproveedor,
//                    el iduser ya no porque ya se hizo en el controlador  del ingreso
                    'tipo_comprobante': this.tipo_comprobante,
                    'serie_comprobante' : this.serie_comprobante,
                    'num_comprobante' : this.num_comprobante,
                    'impuesto' : this.impuesto,
                    'total' : this.total,
                    'data': this.arrayDetalle

                })
                    .then(function (response) {

                        // referenciamos valores a los 3 parametros
                        // 1 pagina
                        // filtro vacio
                        // columna nombre
                        // para que muestre el listado de ingresos
                        me.listado=1;
                        me.listarIngreso(1,'','num_comprobante');
                        // Valores por resetear
                        me.idproveedor=0;
                        me.tipo_comprobante='BOLETA';
                        me.serie_comprobante='';
                        me.num_comprobante='';
                        me.impuesto=0.18;
                        me.total=0.0;
                        me.idarticulo=0;
                        me.articulo='';
                        me.cantidad=0;
                        me.precio=0;
                        me.arrayDetalle=[];
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },

            // Como ven arriba en el boton de eliminar
            // el metoodo que recibe desactivarCategories recibe (categories.id)
            // y por eso aca nosotros debemos de recibirlo para que apunte a su id
            validarIngreso()
            {
                // Se va inicializar vacia estas dos variables
                this.errorIngreso=0;
                this.errorMostrarMsjIngreso =[];
                // si no ha selecciondo proveedor y tipo_comprobante le sale mensaje
                if (this.idproveedor==0) this.errorMostrarMsjIngreso.push("Seleccione un Proveedor");
                if (this.tipo_comprobante==0) this.errorMostrarMsjIngreso.push("Seleccione el comprobante");
                // si estos campos estan vacios
                if (!this.num_comprobante) this.errorMostrarMsjIngreso.push("Ingrese el número de comprobante");
                if (!this.impuesto) this.errorMostrarMsjIngreso.push("Ingrese el impuesto de compra");
                // si el detalle esta vacio
                if (this.arrayDetalle.length<=0) this.errorMostrarMsjIngreso.push("Ingrese detalles");

                if (this.errorMostrarMsjIngreso.length) this.errorIngreso = 1;

                return this.errorIngreso;

            },
            mostrarDetalle()
            {
                let me=this;
                this.listado=0;
                // Cuando regrese al formulario estara vacio
                // Valores por resetear
                me.idproveedor=0;
                me.tipo_comprobante='BOLETA';
                me.serie_comprobante='';
                me.num_comprobante='';
                me.impuesto=0.18;
                me.total=0.0;
                me.idarticulo=0;
                me.articulo='';
                me.cantidad=0;
                me.precio=0;
                me.arrayDetalle=[];
            },
            ocultarDetalle()
            {
                this.listado=1;
            },
            cerrarModal()
            {
                this.arrayArticulo = [];
                // para que oculte la venta modal
                this.modal = 0;
                this.tituloModal = '';


            },

            // este metodo recibe 3 parametros
            // el modelo , accion registar| actualizar , un fila de data (objeto)
            abrirModal()
            {
                this.arrayArticulo = [];
                // visualizar modal
                this.modal = 1;
                this.tituloModal = 'Seleccionar Articulo';

            },
            desactivarUsers(id){
                swal({
                    title: 'Estas seguro de desactivar esta Usuario ?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {

                        let me=this;
                        axios.put('/user/desactivar', {
                            'id': id
                        })
                            .then(function (response) {
                                me.listarPersons(1,'','nombre');
                                swal(
                                    'Usuario Desactivado!',
                                    'El registro ha sido desactivado.',
                                    'success'
                                )
                            }).catch(function (error) {
                            console.log(error);
                        });

                    } else if (
                        // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                    ) {
//                       //  No muestre ningun mensaje cuando cancele
                    }
                })
            },
            activarUsers(id){
                swal({
                    title: 'Estas seguro de activar el usuario?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {

                        let me=this;
                        axios.put('/user/activar', {
                            'id': id
                        })
                            .then(function (response) {
                                me.listarPersons(1,'','nombre');
                                swal(
                                    'Categoria Activado!',
                                    'El registro ha sido activado con exito.',
                                    'success'
                                )
                            }).catch(function (error) {
                            console.log(error);
                        });

                    } else if (
                        // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                    ) {
//                       //  No muestre ningun mensaje cuando cancele
                    }
                })
            },
        },

        mounted() {
            // refrencia al metodo buscar categoria
            // 1 pagina
            // buscar de la varibale data
            // criterio de la varibale  data
           this.listarIngreso(1,this.buscar,this.criterio)
        }
    }
</script>
<style>
    .modal-content
    {
        width: 100%  !important;
        position: absolute !important;
    }
    .mostrar
    {
        display: list-item  !important;;
        opacity: 1 !important;
        position: absolute !important;
        background: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error
    {
        color: tomato !important;
        font-weight: bold;

    }
    @media (min-width: 600px) {
        .btnagregar {
            margin-top: 2rem;
        }
    }
</style>
