<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Proveedores
                    <!--Al boton Nuevo le damos un evento click
                    y vamos a pasar la accion abrirModal
                    y como estamos registrando solo le paso
                    el modelo y la accion mas no data -->
                    <button type="button" @click="abrirModal('persons','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                    </button>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <!--Con v-model indicamos el criterio de busqueda-->
                                <select class="form-control col-md-3" v-model="criterio" >
                                    <option value="nombre">Nombre</option>
                                    <option value="num_documento">Nº de documento</option>
                                    <option value="email">Email</option>
                                    <option value="Telefono">Telefono</option>
                                </select>
                                <!--En el input le pasamos la variable buscar vacio-->
                                <input type="text" v-model="buscar" @keyup.enter="listarPersons(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                <button type="submit" @click="listarPersons(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Nombre</th>
                            <th>Tipo de Documento</th>
                            <th>Numero</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <!--un campo para nuestro proveedor-->
                            <th>Contacto</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="persons in arrayPerson" :key="persons.id">
                            <td>
                                <!--Al boton actualizar le damos un evento click
                                y vamos a pasar la accion abrirModal
                                y como estamos actulizando  le tienes que pasar modelo , la accion y un objeto (una fila de datos)-->
                                <button type="button" @click="abrirModal('persons','actualizar',persons)" class="btn btn-warning btn-sm">
                                    <i class="icon-pencil"></i>
                                </button>
                                <!--Si la condicion es true o 1   -->


                            </td>
                            <td v-text="persons.nombre"></td>
                            <td v-text="persons.tipo_documento"></td>
                            <td v-text="persons.num_documento"></td>
                            <td v-text="persons.direccion"></td>
                            <td v-text="persons.telefono"></td>
                            <td v-text="persons.email"></td>
                            <!--un campo para nuestro proveedor-->
                            <td v-text="persons.contacto"></td>

                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="pagination.current_page > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(pagination.current_page - 1,buscar,criterio)" >Ant</a>
                            </li>
                            <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(page,buscar,criterio)" v-text="page"></a>
                            </li>
                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                <a class="page-link" href="#"  @click.prevent="cambiarpagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>
        <!--Inicio del modal agregar/actualizar-->
        <!--Si la variable modal es 1 se le asigna la clase mostrar-->
        <!--Por defecto es 0 la variable modal-->
        <div class="modal fade"  tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--Aqui vemos el titulo del modal que se va a pasar -->
                        <h4 class="modal-title" v-text="tituloModal"></h4>
                        <!--Aqui tambien cierro el modalo con el modelo que le paso-->
                        <button type="button" class="close" @click="cerrarModal()"  aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de la persona">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="email-input">Tipo de Documento</label>
                                <div class="col-md-9">
                                    <select v-model="tipo_documento" class="form-control">
                                        <option value="DNI">DNI</option>
                                        <option value="RUC">RUC</option>
                                        <option value="PASAPORTE">PASAPORTE</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Numero de Documento</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="num_documento" class="form-control" placeholder="Numero de Documento">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Direccion</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="direccion" class="form-control" placeholder="Direccion">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Telefono</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="telefono" class="form-control" placeholder="Telefono">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Email</label>
                                <div class="col-md-9">
                                    <input type="email" v-model="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Contacto</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="contacto" class="form-control" placeholder="Nombre del Contacto">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Telefono del contacto</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="telefono_contacto" class="form-control" placeholder="Telefono del contacto">
                                </div>
                            </div>

                            <!--Muestra si el errorCategory esta en 1-->
                            <!--v-for = Muestra la linea de errores-->
                            <div v-show="errorPerson" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsgPerson" :key="error" v-text="error"></div>
                                    </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--Para que cierre el modal-->
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <!--Aqui llamo a la accion-->
                        <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarPersons()">Guardar</button>
                        <button type="button" v-if="tipoAccion==2" class="btn btn-primary"  @click="actualizarPersons()">Actualizar</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->
        <!-- Inicio del modal Eliminar -->
                <!--Elimine el modal eliminar de la plantilla-->
        <!-- Fin del modal Eliminar -->
        </div>
    </main>
</template>

<script>
    export default {
        data()
        {
            return {
                // Crear una variable para saber el id de la categoria y lo inicias en 0
                'persona_id' : 0,
                'nombre': '',
                'tipo_documento': 'DNI',
                'num_documento': '',
                'direccion': '',
                'telefono': '',
                'email': '',
                // Añadimos estas dos variables que corresponde a nuestro proveedor
                'contacto':'',
                'telefono_contacto':'',
                arrayPerson : [],
                // Para asignarle la clase mostrar o no
                // la ventana modal
                // lo iniciamo en 0 no vista
                modal : 0,
//                Para indicar el titulo del modal registtrar o actulizar
                tituloModal: '',
                // Esto sirve por ejemplo para que cuando se abra el model
                // si registras --> te aparece boton registrar
                // si actualiza --> te aparece boton actualizar
                tipoAccion: 0,
                // En un primer momento no tengo error y contiene ningun valor
                errorPerson:0,
                // En un primer momento no se va mostrar ningun valor
                errorMostrarMsgPerson: [],
                // Todos estos valores que vienes de PHP controlador categoria lo vamos a inicializar
                // todos a 0
                pagination:{
                        'total'        :0,
                        'current_page' :0,
                        'per_page'     :0,
                        'last_page'    :0,
                        'from'         :0,
                        'to'           :0,
                },
                offset : 3,
                // variable para indicarle el criterio de busqueda
                criterio: 'nombre',
                // vraible de buscar para realizar el filtro
                buscar: ''
            }
        },
        computed:{
            // Pagina actual
            isActived: function () {
                return this.pagination.current_page;
            },
            // Numero de elementos de la pagina
            pagesNumber: function () {
                // si  es diferente al ultimo elemento de la pagina
                if (!this.pagination.to)
                {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                // si la pgina es 1 o 0 retorna siemore el valor de 1
                if (from < 1)
                {
                    from = 1
                }
                let to = from + (this.offset * 2 );
                if (to >= this.pagination.last_page){
                    to = this.pagination.last_page
                }
                let pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
            
        },
        methods:{
            // Luego de agregar los variable en data pasamos como parametro
            // al buscar y a criterio
            listarPersons(page,buscar,criterio)
            {
                let me=this;
                // indico la url de la pagina luego pasamos el buscar y criterio
                let url = '/proveedor?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio;
                axios.get(url)
                    .then(function (response) {
//                        Devolver los valores del index
                        // del controlador
                        let respuesta = response.data;
                        me.arrayPerson = respuesta.persons.data;
                        me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cambiarpagina(page,buscar,criterio){
                let me=this;
                // Actualiza la pagina actual
                me.pagination.current_page = page;
                // Envia la peticion para visualizar la data de esa pagina
                me.listarPersons(page,buscar,criterio);


            },

            registrarPersons()
            {
                // Para mandarle verificacion
                // si es que hay errores manda a la validacion

                if (this.validarPerson())
                {
                    return;
                }


                let me=this;
                axios.post('/proveedor', {
                    'nombre': this.nombre,
                    'tipo_documento': this.tipo_documento,
                    'num_documento': this.num_documento,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'contacto': this.contacto,
                    'telefono_contacto': this.telefono_contacto
                })
                    .then(function (response) {
                        me.cerrarModal();
                        // referenciamos valores a los 3 parametros
                        // 1 pagina
                        // filtro vacio
                        // columna nombre
                        me.listarPersons(1,'','nombre');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            actualizarPersons(){
                if (this.validarPerson())
                {
                    return;
                }


                let me=this;
                axios.put('/proveedor/update', {
                    'id': this.persona_id,
                    'nombre': this.nombre,
                    'tipo_documento': this.tipo_documento,
                    'num_documento': this.num_documento,
                    'direccion': this.direccion,
                    'telefono': this.telefono,
                    'email': this.email,
                    'contacto': this.contacto,
                    'telefono_contacto': this.telefono_contacto
                })
                    .then(function (response) {
                        me.cerrarModal();
                        me.listarPersons(1,'','nombre');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // Como ven arriba en el boton de eliminar
            // el metoodo que recibe desactivarCategories recibe (categories.id)
            // y por eso aca nosotros debemos de recibirlo para que apunte a su id
            validarPerson()
            {
                // Se va inicializar vacia estas dos variables
                this.errorPerson=0;
                this.errorMostrarMsgPerson=[];
                // Si el nombre esta vaca muestra el error insertando con push
                // La descripcion le puse null y no necesito validarlo
                if (!this.nombre) this.errorMostrarMsgPerson.push('El nombre del cliente no puede estar vacia');
                // si es que hay errores la variable sera errorCategory = 1
                if (this.errorMostrarMsgPerson.length) this.errorPerson = 1;
                return this.errorPerson;

            },
            cerrarModal()
            {
                // para que oculte la venta modal
                this.modal = 0;
                this.tituloModal = '';
                this.nombre= '';
                this.tipo_documento= 'DNI';
                this.num_documento= '';
                this.direccion= '';
                this.telefono= '';
                this.email= '';
                // Cda vez que se cierra el modal el error de la categoria inicia
                // en
                this.errorCategory= 0;
                // Cda vez que se cierra el modal no habra mensajes de error
                this.errorMostrarMsgCategory=[]

            },

            // este metodo recibe 3 parametros
            // el modelo , accion registar| actualizar , un fila de data (objeto)
            abrirModal(modelo,accion, data = [])
            {
                // evaluar parametro
                switch (modelo){
//                   // si el modelo es categories
                    case 'persons':
                    {
                        switch (accion)
                        {
                            case 'registrar':
                            {
                                // visualizar modal
                                this.modal = 1;
                                this.tituloModal = 'Registrar Proveedor';
                                this.nombre= '';
                                this.tipo_documento= 'RUC';
                                this.num_documento= '';
                                this.direccion= '';
                                this.telefono= '';
                                this.email= '';
                                this.contacto= '';
                                this.telefono_contacto= '';
                                this.tipoAccion = 1;
                                break;

                            }
                            case 'actualizar':
                            {
                                // visualizar modal
                                this.modal = 2;
                                this.tituloModal = 'Actualizar Proveedor';
                                // Accion actualizar
                                this.tipoAccion = 2;
                                // Cargamos en el input del modal esto datos que viene de data

                               // aqui asociamos con el id para que me cargue con su id
                                this.persona_id = data['id'];
                                this.nombre= data['nombre'];
                                this.tipo_documento= data['tipo_documento'];
                                this.num_documento= data['num_documento'];
                                this.direccion= data['direccion'];
                                this.telefono= data['telefono'];
                                this.email= data['email'];
                                this.contacto= data['contacto'];
                                this.telefono_contacto= data['telefono_contacto'];
                                break;

                            }
                        }
                    }

                }
            }
        },
        mounted() {
            // refrencia al metodo buscar categoria
            // 1 pagina
            // buscar de la varibale data
            // criterio de la varibale  data
           this.listarPersons(1,this.buscar,this.criterio)
        }
    }
</script>
<style>
    .modal-content
    {
        width: 100%  !important;
        position: absolute !important;
    }
    .mostrar
    {
        display: list-item  !important;;
        opacity: 1 !important;
        position: absolute !important;
        background: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error
    {
        color: tomato !important;
        font-weight: bold;

    }
</style>
