<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
        </ol>
        <div class="container-fluid">
            <!-- Ejemplo de tabla Listado -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Roles
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <!--Con v-model indicamos el criterio-->
                                <select class="form-control col-md-3" v-model="criterio" >
                                    <option value="nombre">Nombre</option>
                                    <option value="descripcion">Descripción</option>
                                </select>
                                <!--En el input le pasamos la variable buscar vacio-->
                                <input type="text" v-model="buscar" @keyup.enter="listarRoles(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                <button type="submit" @click="listarRoles(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>

                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="roles in arrayRol" :key="roles.id">
                            <td v-text="roles.nombre"></td>
                            <td v-text="roles.descripcion"></td>
                            <td>
                                <div v-if="roles.condicion">
                                    <span class="badge badge-success">Activo</span>
                                </div>
                                <div v-else>
                                    <span class="badge badge-danger">Inactivo</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" v-if="pagination.current_page > 1">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(pagination.current_page - 1,buscar,criterio)" >Ant</a>
                            </li>
                            <li class="page-item " v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="cambiarpagina(page,buscar,criterio)" v-text="page"></a>
                            </li>
                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                <a class="page-link" href="#"  @click.prevent="cambiarpagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Fin ejemplo de tabla Listado -->
        </div>
    </main>
</template>

<script>
    export default {
        data()
        {
            return {
                // Crear una variable para saber el id de la categoria y lo inicias en 0
                rol_id : 0,
                nombre: '',
                descripcion: '',
                arrayRol : [],
                // Para asignarle la clase mostrar o no
                // la ventana modal
                // lo iniciamo en 0 no vista
                modal : 0,
//                Para indicar el titulo del modal registtrar o actulizar
                tituloModal: '',
                // Esto sirve por ejemplo para que cuando se abra el model
                // si registras --> te aparece boton registrar
                // si actualiza --> te aparece boton actualizar
                tipoAccion: 0,
                // En un primer momento no tengo error y contiene ningun valor
                // todos a 0
                pagination:{
                        'total'        :0,
                        'current_page' :0,
                        'per_page'     :0,
                        'last_page'    :0,
                        'from'         :0,
                        'to'           :0,
                },
                offset : 3,
                // variable para indicarle el criterio de busqueda
                criterio: 'nombre',
                // vraible de buscar para realizar el filtro
                buscar: ''
            }
        },
        computed:{
            // Pagina actual
            isActived: function () {
                return this.pagination.current_page;
            },
            // Numero de elementos de la pagina
            pagesNumber: function () {
                // si  es diferente al ultimo elemento de la pagina
                if (!this.pagination.to)
                {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                // si la pgina es 1 o 0 retorna siemore el valor de 1
                if (from < 1)
                {
                    from = 1
                }
                let to = from + (this.offset * 2 );
                if (to >= this.pagination.last_page){
                    to = this.pagination.last_page
                }
                let pagesArray = [];
                while (from <= to){
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
            
        },
        methods:{
            // Luego de agregar los variable en data pasamos como parametro
            // al buscar y a criterio
            listarRoles(page,buscar,criterio)
            {
                let me=this;
                // indico la url de la pagina luego pasamos el buscar y criterio
                let url = '/rol?page=' + page + '&buscar=' + buscar + '&criterio=' + criterio;
                axios.get(url)
                    .then(function (response) {
//                        Devolver los valores del index
                        // del controlador
                        let respuesta = response.data;
                        me.arrayRol = respuesta.roles.data;
                        me.pagination = respuesta.pagination;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cambiarpagina(page,buscar,criterio){
                let me=this;
                // Actualiza la pagina actual
                me.pagination.current_page = page;
                // Envia la peticion para visualizar la data de esa pagina
                me.listarRoles(page,buscar,criterio);


            }
        },
        mounted() {
            // refrencia al metodo buscar categoria
            // 1 pagina
            // buscar de la varibale data
            // criterio de la varibale  data
           this.listarRoles(1,this.buscar,this.criterio)
        }
    }
</script>
<style>
    .modal-content
    {
        width: 100%  !important;
        position: absolute !important;
    }
    .mostrar
    {
        display: list-item  !important;;
        opacity: 1 !important;
        position: absolute !important;
        background: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error
    {
        color: tomato !important;
        font-weight: bold;

    }
</style>
